.main-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.cards-container{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;

}
.card-container{
    width: 350px;
    margin-top: 55px;
}