.product-details-main {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  .slider-main-container {
    width: 45%;
  }
  .right {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 10px;
  }
  .description {
    width: 96%;
    height: 150px;
    overflow-y: auto;
  }
}

.square {
  width: 50px;
  height: 50px;
  background-color: red;
}
.none{
    display: none;
}

.deneme {
  height: 150px;
  width: 150px;
  position: fixed;
  background-color: rgb(240, 4, 4);
  opacity: 0;
  animation: opacity-in-out linear 2 alternate 1s forwards;
}

@keyframes opacity-in-out {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
